{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}profile{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/blog.location.js"></script> 
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/jquery-1.6.1.min.js"></script> 
{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url profile_detail user.username %} ">{% trans "Your Profile" %}</a></li>
            <li><a href="{% url profile_list %} ">{% trans "All Profiles" %}</a></li>
            <li><a href="{% url your_post %} ">{% trans "Your Posts" %}</a></li>
            <li><a href="{% url photos_yours %}">{% trans "Your Photos" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
